*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/*header*/

header {
    background-color:#0084fd ;
}

header .row{
    align-items: center;
    margin: 0 2vw;
    color: white;
    height: 10vh;
    display: flex;
}

.col-right{
    display: flex;
    justify-content: flex-end;
}

header i{
    font-size:xx-large;
}

.main-menu{
    display: none;
}

.col-left{
    width: 30%;
}

.col-right{
    width: 70%;
}


header img{
    width: fit-content;
}


/*main*/

/*tools*/

.tools{
    margin-top: 4vw;
}

.tools img{
    width: 80%;
    margin:20px 0  -5px 0;
}

.tools h4{
    color: #0788fd;
    margin-bottom: 4vw;
 
}

.tools p{
    color: #5e7385;
    margin-bottom: 25px;
}

.tools .col-30{
    text-align: center;
    align-items: center;
}

.tools .row{
    flex-direction: column;
}

.tools-icon{
    color: #0084fd;
    font-size: 6rem;
}

/*planning*/
.planning{
    width: 100%;
    background-color:#9792e4;
    margin-top: 30px;
    color: white;
}

.col-purple{
    padding: 3rem 1rem ;
}

.col-purple h4{
    margin: 2rem 0;
}

.col-white-border{
    background-color: white;
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 2rem 0.5rem;
    margin-top: 100px;
}

.col-white-border p{
    font-style: italic;
    margin-bottom: 30px;
}

.planning i {
    padding: 10px;
    border-radius: 50%;
    background-color: #9792e4;
}

/*testimonials*/


/*attribute*/

.button-blue{
    padding: 5px 10px ;
    color: white;
    background-color: #0084fd;
    text-decoration: none;
    border-radius: 25px;
    width: 120px;
}

.col-tools {
    background-color: #b5ddff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5vw 5vw 0vw 5vw;
    margin-top: 4vw;
}


.container{
    margin: 0 auto;
    width: 90%;
}

img{
    width: 100%;
}

h4{
    font-size: 1.7rem;
}

p{
    line-height: 2;
    font-size: 1rem;
    font-weight: 700;
}

header a{
    text-decoration: none;
    color: white;
}

.button-white{
    padding: 5px 5px;
    border-radius: 25px;
    color: black;
    background-color: white;
}






/*responsive*/

@media screen and (min-width : 768px ) {
    .tools .row{
        flex-direction: row;
        justify-content: space-between;
    }

    .col-70{
        width: calc(70% - 2rem);
    }

    .col-30{
        width: 30%;
    }

    .row{
        display: flex;
    }

    .planning .container{
        width: 80%;
    }

    .col-purple{
        width: 60%;
    }

    .col-purple img{
        width: 80%;
    }

    .col-white-border{
        width: 40%;
    }

    
}


@media screen and (min-width :992px ) {
    .container{
        width: 80%;
    }

    .main-menu{
        display: block;
    }

    .main-menu ul{
        display: flex;
        list-style-type: none;
    }

    li {
        margin: 0 5px;
    }
    
    .col-right .hamburger{
        display: none;
    }

    .col-70{
        flex-direction: row;
    }

    .tools-content{
        width: 60%;
    }

    .tools-content-img{
        width: 40%;
        align-self:end;
    }

    .tools img{
        width: 125%;
    }
}


@media screen and (min-width: 1200px) {
    .container{
        width: 60%;
    }

    .planning .container{
        width: 50%;
    }
    
}