*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}


/*header*/

header {
    background-color:#0084fd ;
}

header .row{
    align-items: center;
    margin: 0 2vw;
    color: white;
    height: 10vh;
    display: flex;
}

.col-right{
    display: flex;
    justify-content: flex-end;
}

header i{
    font-size:xx-large;
}

.main-menu{
    display: none;
}

header .col{
    width: 50%;
}
header img{
    width: fit-content;
}


/*main*/

/*tools*/

.tools{
    margin-top: 4vw;
}

.tools img{
    width: 80%;
}

.tools h4{
    color: #0788fd;
    margin-bottom: 4vw;
 
}

.tools p{
    color: #5e7385;
}

.tools .col-30{
    text-align: center;
    align-items: center;
}

.tools .row{
    flex-direction: column;
}

.tools-icon{
    color: #0084fd;
    font-size: 15vw;
}

/*planning*/
.planning{
    width: 100%;
    background-color:#9792e4;
    margin-top: 30px;
    color: white;
}

.col-purple{
    padding: 1rem 1rem ;
}

.col-purple h4{
    margin: 2rem 0;
}

.col-white-border{
    background-color: white;
    border-radius: 25px;
    color: black;
    text-align: center;
    padding: 2rem 0.5rem;
}

.col-white-border p{
    font-style: italic;
}










/*attribute*/

.button-blue{
    padding: 5px 10px ;
    color: white;
    background-color: #0084fd;
    text-decoration: none;
    border-radius: 25px;
    margin: 4vw 0;
    width: 120px;
}

.col-tools {
    background-color: #b5ddff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 5vw 5vw 0vw 5vw;
    margin-top: 4vw;
}



.container{
    margin: 0 auto;
    width: 90%;
}

img{
    width: 100%;
}

h4{
    font-size: 1.7rem;
}

p{
    line-height: 2;
    font-size: 1rem;
    font-weight: 700;
}

header a{
    text-decoration: none;
}







/*responsive*/

@media screen and (min-width : 768px ) {
    .tools .row{
        flex-direction: row;
        justify-content: space-between;
    }

    .col-70{
        width: calc(70% - 2rem);
    }

    .col-30{
        width: 30%;
    }

    .row{
        display: flex;
    }

    
}